<% layout("./layouts/boilerplate") %>

<div class="mt-20">
    <h4 class="offset-5">Leave Your Qustion</h4>
    <form action="/qustions" method="post" class="col-8 offset-2 mb-3 needs-validation" novalidate>
        <div class="mb-3 mt-3">
            <label for="Qustion" class="form-label">Qustion</label><br>
            <textarea class="form-control" name="qustion" id="qustion" cols="30" rows="10"
                required></textarea>
            <div class="invalid-feedback">
                Please Enter Your Qustion
            </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form> 